.titulo {
    font-size: 2.2rem;
    color: #60A5FA;
    text-shadow: 0 1px 2px #00000061;
}

.subtitulo {
    font-size: 1.1rem;
    font-weight: normal;
    color: #000000bc;
}

/* MOBILE */
@media (max-width: 900px) {
    .titulo {
        font-size: 1.8rem;
    }

    .subtitulo {
        font-size: 1rem;
    }
}