.container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    max-width: 250px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;

    max-width: 250px;
}

/* MOBILE */
@media (max-width: 800px) {
    .card {
        max-width: 200px;
    } 
}