.container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    /* max-width: 250px; */
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;

    max-width: 280px;
}

/* MOBILE */
@media (max-width: 700px) {
    .container {
        flex-direction: row;
    }

    .card {
        width: 250px;
        height: 100px;
    } 
}