.card {
    display: flex;
    flex-direction: row;
    gap: 5px;

    width: 100%;
    height: 300px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info h2 {
    margin-bottom: 15px;
}

.top {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.top h1 {
    font-size: 1.8rem;
}

.icone {
    display: flex;
    align-items: center;
    justify-content: center;

    background: #eee6f8;
    border-radius: 10px;

    padding: 10px;
    width: 45px;
    height: 45px;

    font-size: 1.1rem;
    color: #7e3af2;
}

.time {
    font-size: 2rem;
    font-weight: 600;
    color: #7e3af2;
    text-shadow: 0 1px 1px #0000007b;
}

.grafico {
    margin-left: auto;
    width: 300px;
    height: 280px;
    flex-shrink: 0;
}

.appTime {
    width: 340px;
}

.item {
    display: grid;
    grid-template-columns: 20px 90px 1fr 80px;
    align-items: center;
    gap: 8px;

    font-size: 1.2rem;
}

.item p {
    font-size: 1.1rem;
}

.bolinha {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
}

.barra {
    width: 100%;
    height: 8px;

    background: #e8dff0;
    border-radius: 999px;
    overflow: hidden;

}

.preenchimento {
    height: 100%;
    background: #7e3af2;
}

.minutes {
    text-align: right;
    white-space: nowrap;
}

/* MOBILE */
@media (max-width: 900px) {
    .card {
        max-width: 450px;
        height: 220px;
    }

    .top h1 {
        font-size: 1.5rem;
    }

    .appTime {
        width: 250px;
    }

    .item {
        grid-template-columns: 10px 77px 1fr 65px;
    }

    .item p {
        font-size: 1rem;
    }

    .grafico {
        width: 150px;
        height: 150px;
    }
}