.card {
    display: flex;
    flex-direction: column;
    gap: 5px;

    width: 100%;
    height: 300px;
    /* max-width: 550px; */
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* MOBILE */
@media (max-width: 900px) {
    .card {
        max-width: 450px;
        height: 200px;
    }
}